.footer_container_bar {
  width: 100%;
  
  background-color: #0d0d0d;
  color: #666;
  font-size: 0.8rem;
  text-align: center; /* 중앙 정렬 */
  border-top: 1px solid #1a1a1a;
}

.footer_content_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* 요소 간 간격 */
}

.separator {
  color: #333; /* 구분선은 더 어둡게 */
  font-weight: 100;
}

.copyright_bar {
  color: #444; /* 카피라이트는 조금 더 어둡게 */
}